In [3]:
%matplotlib inline
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
# Step 1: Read File
df = pd.read_excel('datasets/data.xlsx', sheetname='Sheet2')
df

     Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0         Japan         NaN         NaN         NaN         NaN
1         Other         NaN         NaN         NaN         NaN
2           NaN     1977.00     1978.00     1979.00     1980.00
3         Japan        0.17        0.18        0.20        0.26
4         Other        0.30        0.30        0.29        0.25
5           USA        0.30        0.29        0.27        0.24
6        France        0.11        0.11        0.12        0.13
7  West Germany        0.12        0.12        0.12        0.12